.playback-controls {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  margin: 15px 0 20px;
}

.control-btn {
  font-size: 1rem;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.control-btn:hover {
  background-color: var(--light-secondary-bg);
}

.control-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dark .control-btn:hover {
  background-color: var(--dark-button-bg);
}

@media (max-width: 768px) {
  .playback-controls {
    margin: 10px 0;
  }
  
  .control-btn {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
} 